*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
public/images/portfolio/* filter=lfs diff=lfs merge=lfs -text
public/images/streams/* filter=lfs diff=lfs merge=lfs -text
